# Biological Computation â€“ Final Project

### Amir Ilan 322868662
### Maya Naor 315176362

link to our github:
https://github.com/mayanaor1/Biological-Computation-Final-Project/tree/main

In [6]:
import pandas as pd
from itertools import product

Check if a given function is monotonic.
A function is considered monotonic if, for every pair of configurations, the function's value does not decrease as the configuration values increase.

    Check boundary conditions:
    - The value for the configuration (1,1,0,0) should be 1.
    - The value for the configuration (1,1,1,1) should be 0.

In [7]:
def is_monotonic(function):
    if function[2] != 1 or function[6] != 0:
        return False

    for (config1, value1), (config2, value2) in product(zip(configurations, function), repeat=2):
        if not compare_configs(config1, config2, value1, value2):
            return False

    return True

Compare two configurations and their associated function values.

The function is considered monotonic if:
- config1 is less than or equal to config2 in all dimensions
- value1 is less than or equal to value2

In [8]:
# Compare two configurations to check for monotonicity
def compare_configs(config1, config2, value1, value2):
    if (config1[0] <= config2[0] and config1[1] <= config2[1] and
            config1[2] >= config2[2] and config1[3] >= config2[3]):
        return value1 <= value2
    return True

### List of possible configurations

Since each quartet includes two activators and two inhibitors, not all possible combinations are considered. For example, a scenario where only the first activator is active is treated the same as a scenario where only the second activator is active.

In [9]:
configurations = [
    (0, 0, 0, 0),
    (1, 0, 0, 0),
    (1, 1, 0, 0),  
    (0, 0, 1, 0),
    (1, 0, 1, 0),
    (1, 1, 1, 0),
    (0, 0, 1, 1),  
    (1, 0, 1, 1),
    (1, 1, 1, 1),
]

In [10]:
# Generate all possible functions for the given configurations
functions = []
num_conf = len(configurations)
num_functions = 2 ** num_conf
for i in range(num_functions):
    function = []
    for j in range(num_conf):
        function.append((i >> j) & 1)
    functions.append(function)

# Filter functions that are monotonic
monotonic_functions = [f for f in functions if is_monotonic(f)]

# Sort the monotonic functions in ascending order
monotonic_functions.sort()

# Print the number of monotonic functions
print(f"Number of monotonic functions: {len(monotonic_functions)}")

# Print the list of monotonic functions
for idx, function in enumerate(monotonic_functions, start=1):
    print(f"Monotonic Function {idx}: {function}")

Number of monotonic functions: 18
Monotonic Function 1: [0, 0, 1, 0, 0, 0, 0, 0, 0]
Monotonic Function 2: [0, 0, 1, 0, 0, 1, 0, 0, 0]
Monotonic Function 3: [0, 0, 1, 0, 0, 1, 0, 0, 1]
Monotonic Function 4: [0, 1, 1, 0, 0, 0, 0, 0, 0]
Monotonic Function 5: [0, 1, 1, 0, 0, 1, 0, 0, 0]
Monotonic Function 6: [0, 1, 1, 0, 0, 1, 0, 0, 1]
Monotonic Function 7: [0, 1, 1, 0, 1, 1, 0, 0, 0]
Monotonic Function 8: [0, 1, 1, 0, 1, 1, 0, 0, 1]
Monotonic Function 9: [0, 1, 1, 0, 1, 1, 0, 1, 1]
Monotonic Function 10: [1, 1, 1, 0, 0, 0, 0, 0, 0]
Monotonic Function 11: [1, 1, 1, 0, 0, 1, 0, 0, 0]
Monotonic Function 12: [1, 1, 1, 0, 0, 1, 0, 0, 1]
Monotonic Function 13: [1, 1, 1, 0, 1, 1, 0, 0, 0]
Monotonic Function 14: [1, 1, 1, 0, 1, 1, 0, 0, 1]
Monotonic Function 15: [1, 1, 1, 0, 1, 1, 0, 1, 1]
Monotonic Function 16: [1, 1, 1, 1, 1, 1, 0, 0, 0]
Monotonic Function 17: [1, 1, 1, 1, 1, 1, 0, 0, 1]
Monotonic Function 18: [1, 1, 1, 1, 1, 1, 0, 1, 1]

In [11]:
# Prepare data for displaying in a table
headers = ["Function"] + [str(conf) for conf in configurations]
data = []
for i, function in enumerate(monotonic_functions):
    row = [f"Function {i + 1}"]  # Start the row with the function label
    row.extend(function)  # Add the function values for all scenarios
    data.append(row)

# Create a DataFrame for displaying in the notebook
df = pd.DataFrame(data, columns=headers)

# Apply styling to color cells: 1 -> red, 0 -> white
def color_cells(val):
    color = 'red' if val == 1 else 'white'
    return f'background-color: {color}'

# Apply custom CSS to add a border around the entire columns
def highlight_columns(x):
    df_styler = pd.DataFrame('', index=x.index, columns=x.columns)
    df_styler.loc[:, "(1, 1, 0, 0)"] = 'border-left: 5px solid yellow; border-right: 5px solid yellow'
    df_styler.loc[:, "(0, 0, 1, 1)"] = 'border-left: 5px solid yellow; border-right: 5px solid yellow'
    return df_styler

styled_df = df.style.map(color_cells, subset=df.columns[1:])  # Color the cells for all columns except the first

# Apply the column highlighting using custom CSS
styled_df = styled_df.apply(highlight_columns, axis=None)

# Display the styled DataFrame in Jupyter Notebook
styled_df